
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0.6%;

}

li:hover{
    background-color: #f06543;
}

a:link {
    text-decoration: none;
}
.Home-Nav {
    color: #343434;
    font-size: larger;
    text-decoration: none;
}